
.containermain__container__article{
    margin: 5px 5px;
}

.containermain__subtittles1{
    color: map-get($map: $palette, $key: 'color-negro' );
    position: relative;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
}

.containermain__text{
    text-align: left;
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 10px;
}