@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "_variables.scss";

@import "_header.scss";

@import "_footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}


/* MAIN */

.containermain{
    width: 1000px;
    height: 3500px;
    background: $color-principal;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    margin-top: 150px;
    position: relative;
    left: 150px;
    
    .containermain__tittle{
        text-align: center;
        font-size: 50px;
        font-weight: 900;
        margin-top: 10px;
        color: $color-logo;
    }
    
    &__navcont{
       position: relative;
       color: black;
       margin-top: 50px;
       margin-left: 50px;
       margin-bottom: 100px;
       
       &__nav__li{
           font-size: 20px;
       }
    }
    
    &__subtittles{
        position: relative;
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }
}

.containermain__text{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}